<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('style.ejs') %>
      <title>
        <%- title %>
      </title>
  </head>

  <body>
    <header>
      <h1>Slasher is <span>Up!</span></h1>
    </header>
    <div class="hero">
      <h1><span class="hero__sm">Server Status: </span><span class="ok">OK (200)</span></h1>
    </div>
  </body>

</html>
